* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* .salesTable {
  max-height: 500px;
} */
/* .dx-datagrid-headers.dx-datagrid-nowrap {
  position: sticky;
  top: 120px;
  z-index: 120;
  background-color: white;
} */
@media print {
  .print-agreement {
    height: 100vh;
    width: 150vw;
    margin-top: 100px;
  }
}
