* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* .salesTable {
  max-height: 500px;
} */

.dx-datagrid .dx-row > td {
  padding: 3px !important;
}

.dx-datagrid-headers.dx-datagrid-nowrap {
  position: sticky;
  top: calc(var(--appDrawerHeight) + 2px);
  z-index: 120;
  background-color: white;
}

@media print {
  .print-agreement {
    height: 100vh;
    width: 150vw;
    margin-top: 30px;
  }

  .reportTable {
    width: 100%;
    /* margin-left: 200px; */
  }

  .reportChart {
    width: 1000px;
  }

  @page {
    size: 200mm 250mm;
    margin: 25px;
  }
}
